[public]
project_id={some integer, also filename}
project_title={some tx`x itle}
mentor_name={first and last name of mentor}
description={project description}
learning_outcomes={comma separated list}
requirements={comma separated list}

[private]
mentor_email={email}