<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body class="#b2ebf2 cyan lighten-4">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <nav>
			<div class="nav-wrapper #ff7043 deep-orange lighten-1" style="padding-right: 5%;padding-left: 1%">
				<div class="brand-logo"><img src="../assets/icon_white.png" class="responsive-img" style="height: 65px; padding: 5px;"></div>

				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

				<ul class="right hide-on-med-and-down">
					<li>
						<a href="https://netsoc.co/">Netsoc Home</a>
					</li>
					<li>
						<a href="https://admin.netsoc.co/tutorials">Tutorials</a>
					</li>
					<li>
						<a href="https://admin.netsoc.co/">Netsoc Admin Tools</a>
					</li>
				</ul>

				<ul class="side-nav" id="mobile-demo" style="left: -250px;">
					<li>
						<a href="https://admin.netsoc.co/">Netsoc Admin Tools</a>
					</li>
					<li>
						<a href="https://admin.netsoc.co/tutorials">Tutorials</a>
					</li>
					<li>
						<a href="https://netsoc.co/">Netsoc Home</a>
					</li>
				</ul>
			</div>
		</nav>

	<div id="submission-status" class="container center-align z-depth-3 #ff8a65 deep-orange lighten-2">
		<h3 class="white-text">{{ RESPONSE_MESSAGE ***REMOVED******REMOVED***</h3>
	</div>


</body>
</html>