<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pathetic</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>

        body {
            background-color: #ffc66d;
            margin-top: 10%;
            margin-left: 10%;
            font-family: Cambria;
        ***REMOVED***

    </style>


</head>
<body>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <h1>Oh... </h1>
    <h1>Nice of you to drop by... </h1>
    <h2>I don't get many visitors since {{ ex ***REMOVED******REMOVED*** left me</h2>
    <img src="https://vignette.wikia.nocookie.net/rickandmorty/images/c/cf/Jerry.png/revision/latest?cb=20160925075715">

</body>
</html>