<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Netsoc-Projects</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/netsoc.png') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
            .flex {
              display: flex;
              flex-wrap: wrap;
            }

            body {
                font-family: Futura,Trebuchet MS,Arial,sans-serif;
            }

            @media only screen and (max-width: 768px) {
                nav img {
                height: 40px;
            }
            }

        </style>
    {% endblock %}
</head>
<body class="#e0e0e0 grey lighten-2">
    {% block body %}
    <nav class="nav-extended teal">
        <div class="container">
            <div class="nav-wrapper #ff7043 teal" style="padding-right: 5%;padding-left: 1%">
                <div class="brand-logo"><img src="{{ url_for('static', filename='assets/icon_white.png') }}" class="responsive-img" style="height: 65px; padding: 5px;"></div>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="https://netsoc.co/">Netsoc Home</a>
                    </li>
                    <li>
                        <a href="https://admin.netsoc.co/">Admin Tools</a>
                    </li>
                    <li>
                        <a href="https://admin.netsoc.co/tutorials">Tutorials</a>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li>
                        <a href="https://netsoc.co/">Netsoc Home</a>
                    </li>
                    <li>
                        <a href="https://admin.netsoc.co/">Admin Tools</a>
                    </li>
                    <li>
                        <a href="https://admin.netsoc.co/tutorials">Tutorials</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
        $('.parallax').parallax();
        $(".button-collapse").sideNav();
        $('.carousel').carousel();
        });

        $(document).ready(function(){
        $('.sidenav').sidenav();
        });

    </script>

    {% endblock %}
</body>
</html>