***REMOVED***
project_id={some integer, also filename***REMOVED***
project_title={some tx`x itle***REMOVED***
mentor_name={first and last name of mentor***REMOVED***
description={project description***REMOVED***
learning_outcomes={comma separated list***REMOVED***
requirements={comma separated list***REMOVED***

***REMOVED***
mentor_email={email***REMOVED***