<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body class="#4dd0e1 cyan lighten-2">


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <nav>
			<div class="nav-wrapper #ff7043 deep-orange lighten-1" style="padding-right: 5%;padding-left: 1%">
				<div class="brand-logo"><img src="../assets/icon_white.png" class="responsive-img" style="height: 65px; padding: 5px;"></div>

				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

				<ul class="right hide-on-med-and-down">
					<li>
						<a href="https://netsoc.co/">Netsoc Home</a>
					</li>
					<li>
						<a href="https://admin.netsoc.co/tutorials">Tutorials</a>
					</li>
					<li>
						<a href="https://admin.netsoc.co/">Netsoc Admin Tools</a>
					</li>
				</ul>

				<ul class="side-nav" id="mobile-demo" style="left: -250px;">
					<li>
						<a href="https://admin.netsoc.co/">Netsoc Admin Tools</a>
					</li>
					<li>
						<a href="https://admin.netsoc.co/tutorials">Tutorials</a>
					</li>
					<li>
						<a href="https://netsoc.co/">Netsoc Home</a>
					</li>
				</ul>
			</div>
		</nav>

    <br>
    <div id="banner" class="container z-depth-3 #ff8a65 deep-orange lighten-2">

        <div class="row valign-wrapper">

            <!--Banner with site description and Netsoc Logo-->
            <img class="col s12 m4 l3" src="../assets/icon_white.png">

            <div class="col s12 m6 l7">
                <div class="card">

                <div class="card-content black-text">
                    <span class="card-title">Mentorship/Projects</span>
                    <p>Netsoc is looking to train some up and coming devoplers. We want to give you actual projects that will be deployed for people to use, and in the process, teach you how to develop. If any of these projects interest you, feel free to apply.</p>
                    <br>
                    <p>Each Project will be assigned a project mentor that will guide students through development. If you feel that you have an interesting project in mind, and would like to be a mentor make sure to send us a mentorship application! :)</p>
                </div>

                <div class="card-action">
                  <a href="#projects-title">Go To Projects</a>
                  <a href="#mentorship-title">Apply For Mentorship</a>
                </div>

              </div>
            </div>
            <div class="col s0 m0 l1"></div>
        </div>
        </div>
    </div>

    <!--Start of projects section-->
    <div id="projects-title" class="container center-align z-depth-3 #ff8a65 deep-orange lighten-2">
        <h1 class="white-text">Projects</h1>
    </div>

    {% for project in PROJECTS %***REMOVED***
    <!--Projects are contained inside container divs with ids of "project-{project-id***REMOVED***"-->
    <div id="project-{{ project.project_id ***REMOVED******REMOVED***" class="container center-align z-depth-3 #ff8a65 deep-orange lighten-2">

        <br>
        <div class="col s12 m7 container">
            <div class="card horizontal">
                <div class="project title">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <!--Project Title-->
                        <h4>{{ project.title ***REMOVED******REMOVED***</h4>
                        <!--Project Mentor-->
                        <h5>Mentor: {{ project.mentor_name ***REMOVED******REMOVED***</h5>
                        <!--Project Description-->
                        <p><b>Description:</b>
                            {{ project.description ***REMOVED******REMOVED***
                        </p>

                        <!--Learning outcomes list-->
                        <h5>Learning Outcomes: </h5>
                        <ul class="collection">
                        {% for learning_outcome in project.learning_outcomes %***REMOVED***
                            <li class="collection-item">{{ learning_outcome ***REMOVED******REMOVED***</li>
                        {% endfor %***REMOVED***
                        </ul>
                        <!--List of requirments on undertaking the project in question-->
                        <h5>Requirements: </h5>
                        <ul class="collection">
                        {% for requirement in project.requirements %***REMOVED***
                            <li class="collection-item">{{ requirement ***REMOVED******REMOVED***</li>
                        {% endfor %***REMOVED***
                        </ul>
                    </div>

                    <!--Applying to this project should reveal it's application card-->
                    <div class="card-content">
                        <span class="activator">
                            <a class="waves-effect waves-light btn-large activator cyan lighten-2">Apply</a>
                        </span>
                    </div>
                </div>

                <!--Form for applying the project-->
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Application For {{ project.title ***REMOVED******REMOVED*** Project<i class="material-icons right">close</i></span>
                    <p>Great to see you're interested in this project. Try to be as descritive as possible in the cover letter. i.e Tell us what course you're studying and what year you're in, why you're interested in this project, and what your experience is.</p>
                    <p>P.S. Don't be intimidated if you feel that you don't have any experience. We were all there once. :)</p>
                    <p>Please fill out this form.</p>

                    <div class="row">
                        <form class="col s12" action="/project-proposal" method="POST">

                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="app-first-name" name="app_first_name" type="text" class="validate">
                                    <label for="app-first-name">First Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="app-last-name" name="app_last_name" type="text" class="validate">
                                    <label for="mentor-last-name">Last Name</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="app-email" name="app_email" type="email" class="validate">
                                    <label for="mentor-email">Email</label>
                                </div>
                            </div>

                            <div class="row" hidden>
                                <div class="input-field col s12">
                                    <input id="project-id" name="project_id" type="text" class="validate" value="{{ project.project_id ***REMOVED******REMOVED***">
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="cover-letter" name="cover_letter" class="materialize-textarea" data-length="500"></textarea>
                                    <label for="cover-letter">Cover Letter</label>
                                </div>
                            </div>

                            <div class="row">
                                  <button class="btn waves-effect waves-light cyan lighten-2" type="submit" name="action">Submit
                                      <i class="material-icons right">send</i>
                                  </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
          </div>
        <br>
    </div>
    <br>
    {% endfor %***REMOVED***

    <!--Start of netsoc_mentorship section-->
    <div id="mentorship-title" class="container center-align z-depth-3 #ff8a65 deep-orange lighten-2">
        <h1 class="white-text">Mentorship</h1>
        <h5 class="center-align white-text">If you are interested in mentoring and have a project in mind,
            please fill out this form. We will get in touch with you as soon as possible</h5>
    </div>

    <!--Form for submitting a netsoc_mentorship proposal-->
    <div id="mentorship-application" class="container center-align z-depth-3 #ff8a65 deep-orange lighten-2">
        <br>
        <div class="col s12 m7 container white">

            <div class="row">
                <form class="col s12" action="/mentorship-proposal" method="POST">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="mentor-first-name" name="mentor_first_name" type="text" class="validate">
                            <label for="mentor-first-name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="mentor-last-name" name="mentor_last_name" type="text" class="validate">
                            <label for="mentor-last-name">Last Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="mentor-email" name="mentor_email" type="email" class="validate">
                            <label for="mentor-email">Email</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="mentor-project-title" name="mentor_project_title" type="text" class="validate">
                            <label for="mentor-project-title">Project Title</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="mentor-project-description" name="mentor_project_description" class="materialize-textarea" data-length="300"></textarea>
                            <label for="mentor-project-description">Project Description</label>
                        </div>
                    </div>

                    <div class="row">
                          <button class="btn waves-effect waves-light cyan lighten-2" type="submit" name="action">Submit
                              <i class="material-icons right">send</i>
                          </button>
                    </div>

                </form>
            </div>
        </div>
        <br>

    </div>

</body>
</html>